<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Windows Monitor</title>
        <script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
        <script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>
        <script src="http://cdn.bootcss.com/highstock/2.0.4/highstock.js"></script>
        <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
        <script src="{{ url_for('static', filename='js/hcthemes/hctheme_gray.js') }}"></script>
        <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
        <style type="text/css">
        ${demo.css}
        </style>
</head>


<body>
  <div id="diskc" style="height: 400px; width: 400px"></div>
  <div id="cpu" style="height: 400px; width: 800px"></div>
  <div id="mem" style="height: 400px; width: 800px"></div>
</body>


</html>
